/* .aboutpage {
    width: 100vw;
    height: 100vh;
} */

* {
    padding: 0;
    margin: 0;
}

body {
    background: url('../About//Images//BG_RESURGENCE\.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.about {
    margin-left:5%
}

.img {
    height: 18rem;
    width: 12rem;
}


#heading {
    left: 1rem;
    color: white;
    letter-spacing: 0.03em;
}

.aboutDetails {

    font-weight: 400;
    font-size: 16px;
    color: #D5D5D5;
    margin-top: 5%;
}

.container {
    display: flex;
    margin-left: 5%;
    margin-right:5%;
    margin-top:5%;
}

.containerImg {
    display: flex;
    align-items: flex-start;
    margin-top:4%;
    width: 200rem;
}

.button {
    cursor: pointer;
    top: -31rem;
    left: -56rem;
    position: relative;
    /* color: #FFFFFF; */
}
.button a{
    text-decoration: none;
    color: #FFFFFF;
}
.prev {
    position: relative;
    left: 32rem;
    top: 49rem;
}

.next {
    position: absolute;
    left: 42rem;
    top: 49rem;
}

#line {
    max-width: 50%;
    border: 1px solid #FFFFFF;
    
}

.imgDiv {
    margin: 7px;
}

/* @media screen and (max-width:921px) {
    .about {
    }

    .aboutDetails {
        
    }

    #img1 {
    }

    #img2 {
    }

    .container {
    }

    .containerImg {
    }

    .button {
    }

    .prev {
    }

    .next {
    }
} */
