.verticalNavbar {
    display: flex;
    color: #2CE3FF;
    text-decoration: none;
    height: max-content;
  }
  .iconVerticalNavbar {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left:2.5rem;
    width: 2rem;
    height: max-content;
    color: #bac5dd;
    transition: transform 0.2s ease-in-out;
  }
  .iconVerticalNavbar:hover {
    color: #2CE3FF;
    transform: translateY(-5px);
  }  