* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'LoewRegular';
    src: url('./Assets/Fonts/Loew-Regular.otf')
}

@font-face {
    font-family: 'LoewMedium';
    src: url('./Assets/Fonts/Loew-Medium.otf')
}

@font-face {
    font-family: 'LoewBold';
    src: url('./Assets/Fonts/Loew-Bold.otf')
}

::-webkit-scrollbar {
    width: 0px;
}
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #0a192f;
}

body::-webkit-scrollbar-thumb {
  background-color: #8892b0;
  border-radius: 20px;
}