* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'LoewRegular';
    src: url('./Assets/Fonts/Loew-Regular.otf')
}

@font-face {
    font-family: 'LoewMedium';
    src: url('./Assets/Fonts/Loew-Medium.otf')
}

@font-face {
    font-family: 'LoewBold';
    src: url('./Assets/Fonts/Loew-Bold.otf')
}

::-webkit-scrollbar {
    width: 0px;
}