.eventsPage {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.backDiv {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.mainDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    /* blur backfround */
    backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

}

.innerDiv {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow: hidden;

}

.eventInfo {
    width: 100%;
    
    padding: 0 5%;
    margin-bottom: 40px;
    display: flex;  
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;

}

.events {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px 5%;   
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    justify-content: flex-start;
}

.event {
    max-width: 200px;
    min-width: 200px;
    border-radius: 10px;
    margin: 0 20px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    overflow-y: hidden;
}

.heading {
    font-size: 24px;
    width: fit-content;
    color: white;
    font-family: 'LoewMedium';
    margin-top:2%;

}

.name {
    color: white;
    font-size: 18px;
    font-family: 'LoewRegular';
    margin-top: 20px;
    margin-bottom: 20px;
}

.description {
    width: 100%;
    height: 75px;
    color: white;
    font-family: 'LoewRegular';
    font-size: 13px;
}

.button {
    margin-top: 2rem;
    padding: 7px 20px;
    background-color: rgb(44, 227, 255);
    width: fit-content;
    font-family: 'LoewRegular';
    border-radius: 5px;
    font-size: 14px;
}

.button_link{
    text-decoration: none;
    color:black
}

/* tournament css */
